{% extends 'layout.html' %}
{% block content %}

<div class="container">
    <div class="profile-container">
        <div class="profile-photo">
            <img src="{{url_for('static', filename='img/default.png')}}" alt="Profile Picture">
        </div>
        <div class="profile-details">
            <h3> {{current_user.username}} </h3>  <!--displays username of current user-->
            <hr>
            <p> {{current_user.email}} </p> <!--displays email of curent user-->
        </div>

        <!-- Update account info -->
        <div class="update-form">
            <h3>Account Info</h3>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class="label") }}
    
                    {% if form.username.errors %} <!--if there's error, -->
                        {{ form.username(class="input") }}
                        {% for error in form.username.errors %} 
                            <div class="invalid-feedback">
                                {{error}} <!--printout the errors-->
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.username(class="input") }}
                    {% endif %}
                    
                </div>
                <div class="form-group">
                    {{ form.email.label(class="label") }}
                    {% if form.email.errors %} <!--if there's error, -->
                        {{ form.email(class="input") }}
                        {% for error in form.email.errors %} 
                            <div class="invalid-feedback">
                                {{error}} <!--printout the errors-->
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.email(class="input") }}
                    {% endif %}
                </div>
    
                <div class="submit">
                    {{ form.submit(class="btn-sumbit") }}
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock content %}