{% extends 'layout.html'%}
{% block content %}
    <div class="container">
        <div class="post">
        {% for posted_item in posts %}
        
            <div>
                <h1>{{posted_item.title}}</h1>
                <h4>By {{posted_item.author}}</h4>
                <p>
                    {{posted_item.content}}
                </p>
                <p>
                    <small> Posted on: {{posted_item.date}} </small>
                </p>
            </div>
        
        {% endfor %}
        </div>

        <!-- side-content -->
        <div class="side-content">
            <h2>Side Bar</h2>
            <p><small>Anything can be pasted here Lorem ipsum dolor sit.</small></p>
            <ul>
                <li>Latest Post</li>
                <li>Announcements</li>
                <li>Adverts</li>
                <li>Magazine</li>
            </ul>
        </div>
        <!-- side-content end -->
    </div>
{% endblock content %}
        <!-- this area will not be included in the template display -->
