.profile-container{
    display: flex;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid rgb(228, 228, 235);
    background: rgba(228, 228, 235, 0.685);
    border-radius: 5px;
    width: 80%;
}

.profile-photo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.profile-container .profile-details{
    flex: 1;
    padding: 20px;
}

