<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <!-- <script src="{{url_for('static', filename='js/alerts.js')}}"></script> -->
    <script src="/static/css/js/alerts.js"></script>
    {% if title %}
    <title>My Blog - {{title}}</title>
    {% else %}
    <title>My Blog</title>
    {% endif %}
</head>
<body>
    <div class="header">
        <nav class="nav">
            <ul class="nav-left">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
            </ul>
            <ul class="nav-right">
                <li><a href="{{url_for('login')}}">Login</a></li>
                <li><a href="{{url_for('registration')}}">Sign Up</a></li>
            </ul>
        </nav>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %} <!--get flash messages and categories-->
        {% if messages %} <!--if messages exist, then...-->
            {% for category, message in messages %} <!--check for message and print conresponding category-->
            <div class="container">
                <div class="alert alert-{{category}}">
                    <span class="closebtn">&times;</span>  
                    <strong>Success!</strong> {{ message }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %} {% endblock content %}
</body>
</html>