{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="registration-form">
            <h1>CREATE ACCOUNT</h1>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class="label") }}
                    {{ form.username(class="input") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="label") }}
                    {{ form.email(class="input") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="label") }}
                    {{ form.password(class="input") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="label") }}
                    {{ form.confirm_password(class="input") }}
                </div>
                <div class="submit">
                    {{ form.submit(class="btn-sumbit") }}
                </div>
            </form>
            <p>
                <small>Already have an account?</small> <a href="{{url_for('login')}}">Login Here!</a>
            </p>
        </div>
    </div>
{% endblock content %}